.Pie {
  user-select: none;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Pie-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba($clight, 0.6);
  font-size: 1.5rem;
  font-weight: bold;
  transform: rotate(90deg);
}


.Pie-circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(270deg);

  circle.Pie-value {
    stroke: rgba(orange, 0.4);
    stroke-width: 1em;
  }
  circle.Pie-bg {
    stroke-width: 1.5em;
    stroke: $cdarken;
  }
}

.Pie-desc {
  font-size: 2rem;
  color: $cdarken1;
}
