@import url(https://fonts.googleapis.com/css?family=Coda);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

$cdark: #455A64;
$cdarken2: #374850;
$cdarken1: darken($cdark, 10);
$cdarken3: darken($cdark, 15);
$cdarken: darken($cdark, 20);
$cprimary: #455A64;
$caccent: #009688;
$cred: #FF5252;
$ctext: #212121;
$clight: #CFD8DC;
$clight2: darken($clight, 22);
$ctext2: #727272;
$cborder: #B6B6B6;
$cwhite: #FFFFFF;
$corange: rgba(orange, 0.4);

* {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  outline-color: $cdarken;
}

html, body {
  height: 100%;
  overflow-y: auto;
}

body {
  font-family: Coda, sans-serif;
  background: $cprimary;
  color: $clight2;
  font-smooth: always;
  ::selection {
    background-color: rgba(black, 0.25);
  }
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  &.underline {
    transition: 100ms linear color;
    border-bottom: 2px solid;
    &:hover {
      color: $clight;
    }
  }
}

.dark {
  color: $cdarken3;
}

// Layout
#app {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;

  .View {
    min-width: 680px;
    padding: 0 1em 2em 1em;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .Footer { flex-shrink: 0; }
}

// imports
@import './Footer.scss';
@import './Header.scss';
@import './Game.scss';
@import './ui/Loader.scss';
@import './ui/Button.scss';
@import './ui/Pie.scss';
@import './ui/WpmBar.scss';
@import './utils.scss';
