.Game {
  padding-bottom: 4em;
}

.GameStats {
  color: $clight;
  padding: 2rem 0;
}

.GameContainer {
  max-width: 950px;
  margin: 0 auto;
}

.SourceInput {
  height: 0;
  opacity: 0;
}

.SourceCode {
  transition: 0.15s linear opacity;
  user-select: none;
  cursor: default;
  width: 100%;
  overflow: hidden;
  position: relative;
  pre {
    max-width: 100%;
    font-family: 'Source Code Pro', monospace;
    padding: 1em;
    line-height: 2em;
    background: $cdarken;
    color: $clight;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
