.Header {
  min-width: 680px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 1em;

  .headerLogo {
    opacity: 0.8;
    transition: 150ms linear opacity;
    &:hover {
      opacity: 1;
    }
  }
}

.Logout {
  color: $clight;
  cursor: pointer;
  font-size: 20px;
  transition: color 250ms ease-in;
  &:hover {
    color: darken($clight, 20);
  }
}

.ProfileBox {
  position: relative;

  display: flex;
  align-items: center;

  .logout {
    padding: 0.5rem;
    margin-right: 1rem;
    i {
      margin-right: 0.5rem;
    }
  }

  .ProfilePic {
    padding: 3px;
    border: 2px solid $cdarken2;
    width: 45px;
    height: 45px;
    background-size: 100%;
  }
}
