.Header {
  min-width: 680px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;

  .GoldEarned {
    color: $clight;
    .GoldIcon {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(yellow, .5);
      margin-left: 0.5em;
    }
  }
  .ProfilePic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(black, 0.3);
    background-size: 100%;
    border: 1px solid $cdarken1;
  }
}

.Logout {
  color: $clight;
  cursor: pointer;
  font-size: 20px;
  transition: color 250ms ease-in;
  &:hover {
    color: darken($clight, 20);
  }
}
