.SourceCode {
  width: 100%;
  overflow: hidden;
  position: relative;
  pre {
    max-width: 100%;
    font-family: 'Source Code Pro', monospace;
    padding: 1em;
    line-height: 2em;
    background: $cdarken;
    color: $clight;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
