.SourceInput {
  background: rgba(black, 0.2);
  input {
    font-family: 'Source Code Pro', monospace;
    border: none;
    background: transparent;
    width: 100%;
    display: block;
    color: $clight;
    padding: 1em;
    outline: none;
    border: 2px solid transparent;
    &:focus {
      border-color: $caccent;
    }
  }
}
