.SourceCode {
  position: relative;
  pre {
    font-family: 'Source Code Pro', monospace;
    padding: 1em;
    font-size: 20px;
    line-height: 2em;
    background: $cdarken;
    color: $clight;
    text-shadow: rgba(black, 0.8) 0 1px 0;
  }
  .follow {
    transform-origin: center left;
    height: 4px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(white, 0.5);
    border-bottom: 1px solid black;
  }
}
